:root 
{
    --blanco: rgb(46, 255, 74);
    --oscuro: #333333;
    --primario: #5cf9c5;
    --secundario: #0097A7;
    --gris: #757575;
    --grisClaro: #62b1ff;
    --fuente: 'Rubik', sans-serif;
}


html 
{
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-snap-type: y mandatory;
}

*,
*:before,
*:after 
{
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 
{
    font-family: var(--fuente);
    line-height: 1.2;
}

h1 
{
    font-size: 3rem;
}

h2 
{
    font-size: 2.8rem;
}

h3 
{
    font-size: 2.4rem;
}

h4 
{
    font-size: 2.2rem;
}

h5 
{
    font-size: 2.0rem;
}

h6 
{
    font-size: 1.8rem;
}

.nav-item 
{
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    font-family: var(--fuente);
    color: var(--oscuro);
}

.nav-item:hover 
{
    color: var(--secundario);
}

.separacion-horizontal 
{
    margin: auto 2rem auto 0rem;
}

.separacion-horizontal:last-child 
{
    margin-right: 0rem;
}

.separacion-vertical 
{
    margin: 0rem auto 4rem auto;
}

.separacion-vertical:last-child 
{
    margin-bottom: 0rem;
}

.navbar 
{
    width: 100%;
    height: 5rem;
    background-color: var(--primario);
}

.flex-row 
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.flex-column 
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    height: 100%;
    background-color: var(--primario);
}

.menu-lateral 
{
    height: 100%;
    background-color: var(--primario);
}

.contenido 
{
    width: 1200px;
    margin: 3rem auto;
}

#seccion 
{
    display: grid;
    grid-template-columns: 85% 15%;
}

.titulo 
{
    grid-column: 1/3;
}

.articulo 
{
    background-color: var(--secundario);
    padding: 1.5rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
}

.articulo:last-child 
{
    margin-bottom: 0rem;
}

.fecha 
{
    font-size: 1.5rem;
    font-family: var(--fuente);
    font-weight: 400;
}

.encabezado-articulo 
{
    margin: 0;
}

.pie 
{
    width: 100%;
    height: 10rem;
    background-color: rgb(235, 139, 139);
}

.centrado 
{
    margin: auto 0;
}

.texto 
{
    text-align: justify;
    font-family: var(--fuente);
    font-size: medium;
}

.imagenes 
{
    width: 20rem;
    display: block;
    margin: 0 auto;
}
